
<h1>@ViewBag.Title</h1>
<h3>@ViewBag.Message</h3>

<address>
    2059 North 23rd Street<br />
    Laramie, WY 82070<br />
    Phone: 1-307-752-****
</address>

<address>
    <strong class="bigger">Send us a email! :  </strong><a class="bigger" href="mailto:resourcesonhigh@gmail.com">resourcesonhigh@gmail.com</a><br />
</address>